* {
  scrollbar-width: 2px;
  font-family:'Yekan Bakh Medium' ;
  scrollbar-color: white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 3.5px;
}